<main>
  <div class="container-text">
    <h1>Lorem Ipsum</h1>
    <div>
      <figure>
        <img src="../../../../assets/img/img1.png" alt="" />
      </figure>
      <div>
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          imperdiet mi et justo convallis scelerisque. Duis varius ligula non
          risus accumsan faucibus. Vestibulum tortor urna, pharetra id elit ut,
          cursus laoreet purus. In hac habitasse platea dictumst. Sed ut eros
          gravida, varius diam et, eleifend nisl. Maecenas suscipit ullamcorper
          tortor, sit amet vehicula libero iaculis sit amet. Sed at orci id nunc
          porta volutpat sed quis mi. Nam eget malesuada dui. Suspendisse enim
          risus, blandit sit amet odio at, luctus fringilla magna. Vestibulum eu
          massa arcu. Sed ac tellus in metus interdum placerat.
        </p>
        <button>Vestibulum</button>
      </div>
    </div>

    <div>
      <figure>
        <img src="../../../../assets/img/img2.png" alt="" />
      </figure>
      <div>
        <h3>Lorem ipsum dolor</h3>
        <p>
          Aliquam ac commodo eros. Mauris hendrerit, arcu eget aliquet semper,
          est mauris euismod elit, eu maximus lectus tortor id urna. Donec
          pharetra sem sit amet justo venenatis porta. Sed et ante eget libero
          ullamcorper interdum. Curabitur vitae lacus eu justo sollicitudin
          tristique in a ex. Morbi mollis vitae ante ac iaculis. Nam non dolor
          sed nibh porta venenatis. Sed tellus tortor, facilisis ut massa ut,
          pulvinar pharetra quam. Phasellus iaculis at mauris nec convallis.
          Morbi mattis tortor a ligula vehicula bibendum. Cras ac egestas
          tellus. Cras malesuada erat lacus, at rhoncus turpis commodo quis.
          Vestibulum ultrices iaculis arcu quis tristique. Nulla ornare lacus
          quis tempor luctus. Morbi viverra consectetur aliquet.
        </p>
        <button>Vestibulum</button>
      </div>
    </div>
  </div>
</main>
